<div name="container-imagem" class="d-flex justify-content-center py-3 topo">
  <h1>{{ aniversatiante.nome }}</h1>
</div>
<div class="container max-width">
  <header class="d-flex justify-content-center py-4">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/home" class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a href="/fotos" class="nav-link" routerLink="/fotos" routerLinkActive="active">Fotos</a></li>
      <li class="nav-item"><a href="/festa" class="nav-link" routerLink="/festa" routerLinkActive="active">A Festa</a></li>
      <li class="nav-item"><a href="/presentes" class="nav-link" routerLink="/presentes" routerLinkActive="active">Presentes</a></li>
      <li class="nav-item"><a href="/depoimentos" class="nav-link" routerLink="/depoimentos" routerLinkActive="active">Depoimentos</a></li>
      <li class="nav-item"><a href="/confirmar-presenca" class="nav-link" routerLink="/confirmar-presenca" routerLinkActive="active">Confirmar Presença</a></li>
    </ul>
  </header>
</div>
