<div name="container-imagem" class="d-flex justify-content-center py-3 topo">
  <h1>{{ aniversatiante.nome }}</h1>
</div>
<header class="d-flex justify-content-center py-4">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="btn btn-pink" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="nav-item"><a href="/fotos" class="btn btn-pink" routerLink="/fotos" routerLinkActive="active">Fotos</a></li>
    <li class="nav-item"><a href="/festa" class="btn btn-pink" routerLink="/festa" routerLinkActive="active">A Festa</a></li>
    <li class="nav-item"><a href="/presentes" class="btn btn-pink" routerLink="/presentes" routerLinkActive="active">Presentes</a></li>
    <li class="nav-item"><a href="/depoimentos" class="btn btn-pink" routerLink="/depoimentos" routerLinkActive="active">Depoimentos</a></li>
    <li class="nav-item"><a href="/confirmar-presenca" class="btn btn-pink" routerLink="/confirmar-presenca" routerLinkActive="active">Confirmar Presença</a></li>
  </ul>
</header>
