<header class="d-flex justify-content-center py-5">
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item"><a class="btn btn-pink" href="/{{slug}}" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="btn btn-pink" href="/{{slug}}/fotos" routerLinkActive="active">Fotos</a></li>
        <li class="nav-item"><a class="btn btn-pink" href="/{{slug}}/festa"  routerLinkActive="active">A Festa</a></li>
        <!--<li class="nav-item"><a href="/presentes" class="btn btn-pink" routerLink="/presentes" routerLinkActive="active">Presentes</a></li>-->
        <!--<li class="nav-item"><a href="/depoimentos" class="btn btn-pink" routerLink="/depoimentos" routerLinkActive="active">Depoimentos</a></li>-->
        <li class="nav-item"><a class="btn btn-pink" href="/{{slug}}/confirmar-presenca" routerLinkActive="active">RSVP Presença</a></li>
      </ul>
    </div>
  </nav>
</header>
