<div class="card">
  <div class="card-header">
    Por Favor, Confirme sua Presença.
  </div>
  <div class="card-body">
    <div class="row text-center">
      <p *ngIf="this.resposta.dataResposta" class="text-danger pt-3">Você respondeu em: {{this.resposta.dataResposta | date:'dd/MM/yyyy HH:mm:ss'}}</p>
      <div class="col-md-6">
        <button name="btn-confirmar-presenca" class="btn btn-outline-primary" (click)="setaMarcarPresenca(true)" [ngClass]="{'active' : marcaPresenca}">
          <img src="/assets/img/emo-feliz.png" width="60px" height="60px" /> Confirmar Presença
        </button>
      </div>
      <div class="col-md-6">
        <button name="btn-confirmar-presenca" class="btn btn-outline-danger" (click)="setaMarcarPresenca(false)" [ngClass]="{'active' : !  marcaPresenca}">
          <img src="/assets/img/emo-triste.png" width="60px" height="60px" /> Informar Ausência
        </button>
      </div>
    </div>
    <form class="row" [formGroup]="formResposta" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" >
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Informe seu nome." formControlName="nome">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Informe seu email." formControlName="email">
      </div>
      <div class="form-group">
        <label for="qtdAdultos">Adultos</label>
        <input type="number" class="form-control" id="qtdAdultos" step="1" min="0" max="10" value="0" formControlName="qtdAdultos" >
      </div>
      <div class="form-group">
        <label for="qtdCriancas">Crianças</label>
        <input type="number" class="form-control" id="qtdCriancas" step="1" min="0" max="10" value="0" formControlName="qtdCriancas">
      </div>
      <div class="form-group">
        <label for="mensagemRecado">Mensagem</label>
        <textarea class="form-control" id="mensagemRecado" rows="5" placeholder="Informe os nomes e caso criança também a idade." formControlName="mensagem"></textarea>
      </div>
      <div class="form-group">
        <div *ngIf="PodeConfirmacaoPresenca" class="alert alert-warning">
          Você poderá responder ou modificar até {{ this.aniversariante.dataLimiteConfirmaPresenca | date: 'dd/MM/yyyy'}}
        </div>
        <div *ngIf="!PodeConfirmacaoPresenca" class="alert alert-danger">
          Atenção, não pode mais ser modificado ou respondido, por favor entre em contato com anfitrião.
        </div>
        <button class="btn btn-primary" *ngIf="marcaPresenca" [disabled]="BotaoAtivo">Confirmar Presença</button>
        <button class="btn btn-danger" *ngIf="!marcaPresenca" [disabled]="BotaoAtivo">Informar Ausência</button>
      </div>
    </form>
  </div>
</div>
