<div class="my-4 p-5 text-center introducao">
  <div class="container py-5 ">
    <h1 class="text-body-emphasis">{{ aniversatiante.titulo }}</h1>
    <h2 class="col-lg-8 mx-auto lead">
      {{ aniversatiante.descricao }}
    </h2>
  </div>
</div>

<div name="carrossel-imagens">
  <app-carrossel-fotos [fotos]="aniversatiante.fotos"></app-carrossel-fotos>
</div>

<div name="data-evento"></div>

<div name="local-evento"></div>

<div name="lista-presentes" class="container py-3">
    <div class="row">
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <div class="title">
          <h2>Meu Aniversário esta chegando!</h2>
          <h2>
            Aproveite e escolha um presente que selecionamos.
          </h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="img-presente"></div>
      </div>
    </div>
</div>
<div name="seu-recado" class="seu-recado p-5">
   <div class="container">
    <div class="row mx-10p">
      <div class="col-md-6">
        <div class="mx-5">
          <h1>Deixe um</h1>
          <h1>Recadinho</h1>
          <h1>para {{ aniversatiante.apelido }}</h1>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="nomeRecado">Nome</label>
            <input type="text" class="form-control" id="nomeRecado" placeholder="Seu nome" required >
          </div>
          <div class="form-group">
            <label for="emailRecado">Email</label>
            <input type="email" class="form-control" id="emailRecado" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="mensagemRecado">Mensagem</label>
            <textarea class="form-control" id="mensagemRecado" rows="5" placeholder="deixe sua mensagem aqui... " required></textarea>
          </div>
          <div class="d-grid pt-3">
            <button class="btn btn-pink" type="button">Enviar</button>
          </div>
        </form>
      </div>
    </div>
   </div>
</div>
