<div class="container">
    <div name="carrossel-imagens"></div>

    <div name="data-evento"></div>

    <div name="local-evento"></div>

    <div name="lista-presentes" class="row">
      <div class="col-md-6">
        <div class="img-presente"></div>
      </div>
      <div class="col-md-6 d-flex align-content-end flex-wrap">
        <div class="title">
          <h2>Meu Aniversário esta chegando!</h2>
          <h2>
            Aproveite e escolha um presente que selecionamos.
          </h2>
        </div>
      </div>
    </div>
</div>
<div name="seu-recado" class="seu-recado mt-5">
   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Deixe Seu Recado</h1>
      </div>
      <div class="col-md-6">
      </div>
    </div>
   </div>
</div>

