<app-navbar></app-navbar>
<div class="p-5 text-center introducao">
  <div class="py-2 ">
    <h1 class="texto-rosa fonte-grande">{{ aniversariante.titulo }}</h1>
    <h2 class="col-lg-8 mx-auto texto-rosa-claro">
      {{ aniversariante.descricao }}
    </h2>
  </div>
</div>

<div class="container">
  <div class="pt-5" name="carrossel-imagens" *ngIf="aniversariante.fotosCarrossel">
    <app-carrossel-fotos [fotos]="aniversariante.fotosCarrossel"></app-carrossel-fotos>
  </div>

  <div class="pt-5" name="fotos" *ngIf="aniversariante.fotosDestaque">
    <h1 class="text-center fonte-grande texto-rosa">Fotos</h1>
    <hr />
    <div name="fotos" class="row d-flex justify-content-center text-center">
      <div class="col-xl-6 col-xxl-4 pt-4" *ngFor="let foto of aniversariante.fotosDestaque">
          <app-foto-card [foto]="foto"></app-foto-card>
      </div>
      <div class="col-md-12">
        <a class="btn btn-lg px-5 btn-pink" href="/{{slug}}/fotos">Ver Todas</a>
      </div>
    </div>
  </div>

  <div class="pt-5" name="data-evento" *ngIf="aniversariante.informativos">
    <h1 class="text-center fonte-grande texto-rosa">Informações</h1>
    <hr />
    <h1 class="text-center fonte-media texto-rosa-claro"> {{ aniversariante.informativos }}</h1>
  </div>

  <div class="pt-5" name="data-evento">
    <h1 class="text-center fonte-grande texto-rosa">Horário do evento</h1>
    <hr />
    <h1 class="text-center fonte-grande texto-rosa-claro"> {{ aniversariante.diaSemanaEvento}} - {{aniversariante.dataEvento | date: 'dd/MM/yyyy' }} às {{ aniversariante.horarioEvento }}</h1>
  </div>

  <div class="pt-5" name="local-evento">
    <h1 class="text-center fonte-grande texto-rosa">Local</h1>
    <hr />
    <h3 class="text-center pt-4 texto-rosa-claro">{{ aniversariante.endereco }}</h3>
    <div class="row">
      <iframe
        width="100%"
        height="500"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        [src]="linkGoogleMaps | safe"
        >
      </iframe>
    </div>
  </div>

  <div class="py-5"  name="lista-presentes" >
      <div class="row">
        <div class="col-md-7 d-flex justify-content-center align-items-center texto-rosa-claro">
          <div class="title text-center">
            <h2>Meu Aniversário esta chegando!</h2>
            <h2>Por favor, responda se conseguirá comparecer.</h2>
            <a class="btn btn-outline-info btn-lg mt-3" href="/{{slug}}/confirmar-presenca">Responder Presença</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-presente"></div>
        </div>
      </div>
  </div>
</div>

<div class="rodape-rosa-claro p-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="fonte-media">Sua presença e muito importante para mim :)</h1>
      <h1 class="fonte-media">Um abraço e um beijo da Helena.</h1>
    </div>
  </div>
</div>
