<app-navbar></app-navbar>
<div class="container" *ngIf="aniversariante">
  <h1 class="text-center fonte-grande texto-rosa">A Festa</h1>
  <hr />
  <h1 class="text-center fonte-media texto-rosa-claro" *ngIf="aniversariante.informativos"> {{ aniversariante.informativos }}</h1>

  <div class="text-center">
    <img *ngIf="aniversariante.imagemConvite" class="img-fluid rounded" [src]="aniversariante.imagemConvite" alt="Convite">
  </div>

  <div class="pt-5" name="data-evento">
    <h1 class="text-center fonte-grande texto-rosa">Horário do evento</h1>
    <hr />
    <h1 class="text-center fonte-grande texto-rosa-claro"> {{ aniversariante.diaSemanaEvento}} - {{aniversariante.dataEvento | date: 'dd/MM/yyyy' }} às {{ aniversariante.horarioEvento }}</h1>
  </div>

  <div class="pt-5" name="local-evento">
    <h1 class="text-center fonte-grande texto-rosa">Local</h1>
    <hr />
    <h2 *ngIf="aniversariante.local" class="text-center pt-4 texto-rosa-claro">{{ aniversariante.local }}</h2>
    <h3 class="text-center pt-4 texto-rosa-claro">{{ aniversariante.endereco }}</h3>
    <div class="row pb-5">
      <iframe
        width="100%"
        height="500"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        [src]="aniversariante.localizacaoUrl | safe">
      </iframe>
    </div>
  </div>

</div>

